@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#070c18] text-slate-100;
  }
}

/* Custom scrollbars */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #0d1527;
}

::-webkit-scrollbar-thumb {
  background: #1e2f4d;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #3395ff;
}
